	<footer id="footer">
		<div class="container">
			<i class="social-icon fab fa-facebook-f"></i>
			<i class="social-icon fab fa-twitter"></i>
			<i class="social-icon fab fa-instagram"></i>
			<a href="https://github.com/nikhiljerry29" target="blank"><i class="social-icon fab fa-github"></i></a>
			<i class="social-icon fas fa-envelope"></i>
			<h6>Made with 💕 by Jerry</h6>
			<div class="quotes">
				<em>
					"<%= quotesFull['quote'] %>"<br>
				</em>
					-<%= quotesFull['author'] %>					
			</div>
		</div>
	</footer>
</body>
</html>